/*   Sitewide  */

.navbar-brand {
	min-height: auto;
	font-family: 'Titillium Web', sans-serif;
	font-weight: lighter;
}
.navbar navbar-expand-lg navbar-light bg-light{
	color:whitesmoke
}

#ubermelon-logo, #ubermelon-logo:hover, .navbar-dark .navbar-brand {
	color: #151515;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


section {
	margin-top: 50px;
}


/*  First row  */

#hero	{
	height: 400px;
}

#splash {
	margin-bottom: 25px;
	font-size: 18px;
}


/* Features Row */

.feature {
	text-align: centexr;
}

/* Further Study */

#modalLabel {
	color: black;
}
#girlanddog {
	height: 400px;
	width: 1500px;
	object-fit: cover;
}

#mangirldog {
	height: 250px;
	width: 1300px;
	object-fit: cover;
	
	
}
