/*   Sitewide  */

.navbar-brand {
	min-height: auto;
	font-family: 'Titillium Web', sans-serif;
	font-weight: lighter;
}
.navbar navbar-expand-lg navbar-light bg-light{
	color:whitesmoke
}


.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


section {
	margin-top: 50px;
}


/*  First row  */

#hero	{
	height: 400px;
}

#splash {
	margin-bottom: 25px;
	font-size: 18px;
}



#girlanddog {
	height: 400px;
	width: 1500px;
	object-fit: cover;
}

#mangirldog {
	height: 250px;
	width: 1300px;
	object-fit: cover;
}

#zipcode {
position:absolute;
min-width:22%;
height 20%;
top:0%;
right:0%;
z-index:10;
background-color:#CCC;
border: 1px solid grey;
}
#dogwindow {
	height: 250px;
	width: 1300px;
	object-fit: cover;
}
#childrendog {
	height: 250px;
	width: 1300px;
	object-fit: cover;
}
#loginicon {
	display: inline-flex;
	height: 100px;
	width:80;
}

#mission_statement{
	font-family: 'Titillium Web', sans-serif;
	color: rgba(53, 73, 73, 0.63);
	font-size: larger;
	font-weight: bolder;
	margin-bottom: 20px;
	text-align: center;
	font-stretch: semi-condensed;
}