{% extends 'base.html' %}
{% block title %}Welcome to Find Furry Friends!{% endblock %}

{% block body %}

<head>
  <img id="girlanddog" src="/static/images/girlanddog.jpg" >
  <link rel="stylesheet" href="/static/mystyle.css">

</head>

  <h2>Animals Available</h2>
  



    <div class="container">
  
      <div class="row">
  
        <div class="col-6">
          <p> 
            {% for event in result['dogs'] %}
            Name: {{ event['name'] }}<br>
            Age:{{ event['age']}}<br>
            Primary Breed: {{ event['breeds']['primary']}}<br>
            
            <img src={{event['photos'][0]['large'] }} width="300" 
            height="300" />
            </a>
          </p>
          {% endfor %}
        
  
        </div>
        
  
        </div>
  
      </div>
  
    </div>
  </body>
  
 
<script src='/static/user_profile.js'></script>
  
{% endblock %}
