{% extends 'base.html' %}
{% block title %}Welcome to Find Furry Friends!{% endblock %}

{% block body %}
  <h1>Welcome to Find Furry Friends!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/animals">View all animals</a></li>
    <!-- <li><a href="/api/breeds", id="breeds">View all breeds</a></li> -->
    <li><a href="/create_user">Create Users</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/search">Search Dogs</a></li>
  </ul>
  <h3>Animals Available</h3>
  <ul class="dog-list list-group">
    {% for event in result['dogs'] %}
    <p>
      <a href={{ event['url'] }}>
      {{ event['name'] }}
      </a>
    </p>
    <img src={{event['photos'][0]['large']}} >
      <li class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-2">
      </li>
    {% endfor %}
  </ul>

  
{% endblock %}
