{% extends 'base.html' %}
{% block title %}Welcome to Find Furry Friends!{% endblock %}

{% block body %}
  <h1>Welcome to Find Furry Friends!</h1>
  <h2>Animals Available</h2>

  <body>
    <div class="container">
  
      <div class="row">
  
        <div class="col">
          <p> 
            {% for event in result['dogs'] %}
            <a href={{ event['url'] }}>
            {{ event['name'] }}
            </a>
          </p>
          {% endfor %}
        </div>
     
        <div class="col">
        <p>
          {% for event in result['dogs'] %}
            <img src={{event['photos'][0]['large']}} >
          {% endfor %}
        </p>
        </div>
  
        </div>
  
      </div>
  
    </div>
  </body>
  
 
<script src='/static/user_profile.js'></script>
  
{% endblock %}
