{% extends 'base.html' %}
{% block title %}All Animals{% endblock %}

{% block body %}

<head>
  <img id="mangirldog" src="/static/images/mangirldog.jpg" >
  <link rel="stylesheet" href="/static/mystyle.css">

</head>
  <h1>Find dogs Near You </h1>
  <h2>Enter Zipcode and Select Breed</h2>
  <style> h2 {
    font-size: large;
    text-align: center;}
    </style>
  
  <p>
    <form method="GET" action="/search/dogs">
    <label>Zipcode</label>
    <style> label{
      font-weight: bold;
      font-family: font-family: 'Titillium Web', sans-serif;
      text-align: center;
      margin: 15px;
    }
    </style>
    <input type="text" name ="zipcode"><br>
    <form method="GET" action="/search/breed">
    <label>Breed</label>
    <select name="breed">
      {% for breed_type in breed_types_global['breeds'] %}
      <option value={{ breed_type }}>{{ breed_type }}</option>
      {% endfor %}
    </select><br>
    <input type="submit">
    </form>
    <style> form {
      font-size: large;
      text-align: center;
    }
      </style>
  </p>
  

  

{% endblock %}