{% extends 'base.html' %}

{% block title %}Dogs!{% endblock %}

{% block body %}

<h1>Dog Search Result</h1>

<style> h2 {
  font-size: large;
  text-align: center;}
</style>

    <div class="container" id="dog-search-result" href="/static/mystyle.css">
      <link rel="stylesheet" href="/static/mystyle.css">

      {% for event in result['dogs'] %}
        <div id="name-card" href="/static/mystyle.css">
          <ul style="list-style-type:none;" class="dog-list list-group">
            <li> Name: {{ event['name'] }}</li>
            <li> Age: {{ event['age'] }}</li>
            <li> Primary Breed: {{ event['breeds']['primary'] }}</li>
            <li> Gender: {{ event['gender'] }}</li>
            <li> Sparyed or Neutered: {{ event['attributes']['spayed_neutered'] }}</li>
            <li> Contact Phone Number: {{ event['contact']['phone'] }}</li>
            <li> Contact Email: {{ event['contact']['email'] }}</li>
            <li> <img src={{ event['photos'][0]['large'] }} width="330" height="280"></li>
            <li> Petfinder URL: <a href ="{{ event['url'] }}">Click Here</a></li>   
            <form action="/search_dogs/favorite" method="POST">
              <input type="text" name="animal_name" value="{{ event['name'] }}" hidden>
              <input type="text" name="animal_description" value="{{ event['description'] }}" hidden>
              <input type="text" name="spayed_neutered" value="{{ event['attributes']['spayed_neutered'] }}" hidden>
              <input type="text" name="age" value="{{ event['age'] }}" hidden>
              <input type="text" name="gender" value="{{ event['gender'] }}" hidden>
              <input type="text" name="primary_breed" value="{{ event['breeds']['primary'] }}" hidden>
              <input type="text" name="email" value="{{ event['contact']['email'] }}" hidden>
              <input type="text" name="photo" value="{{ event['photos'][0]['large'] }}" hidden>
              <input type="text" name="phone_number" value="{{ event['contact']['phone'] }}" hidden>
              <input type="text" name="url" value="{{ event['url'] }}" hidden>
              <input type="text" name="organization_animal_id" value="{{ event['organization_animal_id'] }}" hidden>
              <!-- <input value= {{ event['name']}}> -->
         
              <button id="myfav" type="submit"> Add to Favorites </button>
              <style> button{
                font-size: 25px;
                margin-top: 5px;
                margin-bottom: 15px;
                background-color: rgb(173, 105, 125);
                color: white;
                box-shadow: rgba(255, 99, 71, 0.301);
              }
              </style>
           
            </form>           
          </ul>
          <!-- <style> ul {
            display:inline-table;
            font-size: large;
            color:rgb(16, 34, 49);
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;

          }
          </style> -->
        </div>
      {% endfor %}
    </div>
      <!-- </div>
    </div>
  </div> -->
{% endblock %}
