{% extends 'base.html' %}

{% block title %}Dogs!{% endblock %}

{% block body %}


        <div id="dog-search-result">
          <h2>Dog Search Results</h2>
          <ul class="dog-list list-group">
            {% for event in result['dogs'] %}
            {{event['name'], event['age'], event['breeds']}}
            <p> 
              <a href="{{ event['url'] }}">
                {{event['name']}}
              </a> 
            </p>
              
            <img src={{ event['photos'][0]['large'] }} width="200" height="200">
            
                <div class="row">
                  <div class="col-1">
           
              
            <form action="/search_dogs/favorite" method="POST">
              <input type="text" name="animal_name" value="{{ event['name'] }}" hidden>
              <input type="text" name="animal_description" value="{{ event['description'] }}" hidden>
              <input type="text" name="spayed_neutered" value="{{ event['attributes']['spayed_neutered'] }}" hidden>
              <input type="text" name="age" value="{{ event['age'] }}" hidden>
              <input type="text" name="gender" value="{{ event['gender'] }}" hidden>
              <input type="text" name="primary_breed" value="{{ event['breeds']['primary'] }}" hidden>
              <input type="text" name="email" value="{{ event['contact']['email'] }}" hidden>
              <input type="text" name="photo" value="{{ event['photos'][0]['large'] }}" hidden>
              <input type="text" name="phone_number" value="{{ event['contact']['phone'] }}" hidden>
              <input type="text" name="url" value="{{ event['url'] }}" hidden>
              <input type="text" name="organization_animal_id" value="{{ event['organization_animal_id'] }}" hidden>
              <input value= {{ event['name']}}>
         
              <button id="myfav" type="submit"> Add to Favorites </button>
                    <!-- Add a form, 'add to favorite' is the submit button form consists inputelement, values are the data from the api (event) hidden attribute to hide the form when submit i can access value from server
                    1 create a form and see if i can access data of selected dog  -->
           
            </form>
           
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
