{% extends 'base.html' %}
{% block title %}All Animals{% endblock %}

{% block body %}
  <h1>Search For Dogs</h1>
  <p>
    <form method="GET" action="/search/dogs">
    <label>Zipcode</label>
      <input type="text" name ="zipcode"><br>
    <form method="GET" action="/search/breed">
    <label>Breed</label>
    <select name="breed">
      {% for breed_type in breed_types_global['breeds'] %}
      <option value={{ breed_type }}>{{ breed_type }}</option>
      {% endfor %}
    </select><br>
    <input type="submit">
    </form>
  </p>
  

  

{% endblock %}