{% extends 'base.html' %}
{% block title %}All Animals{% endblock %}

{% block body %}
  <h1>Search For Dogs</h1>
  <p>
    <form method="GET" action="/search/dogs">
    <label>Zipcode</label>
      <input type="text" name ="zipcode"><br>
    <form method="GET" action="/search/breed">
    <label>Breed</label>
    <select name="breed">
      {% for breed_type in breed_types_global['breeds'] %}
      <option value={{ breed_type }}>{{ breed_type }}</option>
      <!-- <option value="Afghan Hound">Afghan Hound</option>
      <option value="Airedale Terrier">Airedale Terrier</option>
      <option value="Akbash">Akbash</option>
      <option value="Akita">Akita</option>
      <option value="Alaskan Malamute">Alaskan Malamute</option>
      <option value="American Bulldog">American Bulldog</option>
      <option value="American Eskimo Dog">American Eskimo Dog</option>
      <option value="Affenpinscher">Affenpinscher</option>
      <option value="Affenpinscher">Affenpinscher</option>
      <option value="Affenpinscher">Affenpinscher</option>
      <option value="Affenpinscher">Affenpinscher</option>
      <option value="shiba inu">Shiba Inu</option> -->
      {% endfor %}
    </select><br>
    <input type="submit">
    </form>
  </p>
  

  

{% endblock %}